<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.java.androiddemo"
>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        tools:targetApi="31"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDemo"
    >

        <activity
            android:name=".controller.tabview.DemoTabViewActivity"
            android:exported="true"
        >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
            />
        </activity>

        <provider
            android:name="com.android.java.androiddemo.controller.tabview.search.DemoSearchSuggestionProvider"
            android:authorities="com.android.java.androiddemo.controller.tabview.search.DemoSearchSuggestionProvider"
        />
    </application>
</manifest>